@import "./base/normalize";
@import "./base/reset";
@import "./base/vars";
@import "./base/fonts";
@import "./base/title";

// utilities
@import "./utilities/grid";
@import "./utilities/container";
@import "./utilities/section";
@import "./utilities/centered";
@import "./utilities/visually-hidden";
// components
@import "./components/logo";
@import "./components/menu";
@import "./components/btn";
@import "./components/forms";
// layout
@import "./layout/header";
@import "./layout/hero";
@import "./layout/benefits";
@import "./layout/product";
@import "./layout/newsletter";
@import "./layout/about";
@import "./layout/footer";
// layout about
@import "./layout/notice";
@import "./layout/abot-hero";
@import "./layout/brand-info";
//layout catalog
@import "./layout/catalog";

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  &__body {
    font-family: var(--font-family);
    line-height: 1.5;
  }
}