@import "./base/normalize";
@import "./base/reset";
@import "./base/vars";
@import "./base/fonts";
@import "./utilities/grid";
@import "./utilities/container";
@import "./utilities/section";
@import "./layout/header";
@import "./components/logo";
@import "./components/menu";
@import "./components/btn";
@import "./base/title";
@import "./layout/hero";
@import "./layout/benefits";

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  &__body {
    font-family: var(--font-family);
    line-height: 1.5;
  }
}
