.notice {
  padding: 5px 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--dark-primary);
  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
  }

  &__button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.notice--hidden {
  display: none;
}
